@charset "utf-8";
/* CSS Document */

/* -----------------------------------------
            General Info
----------------------------------------- */

/*----------  CSS File Structure ---------*/

/* List of Sections in Order
  -Global Styling
  -Typography
  -Section Specific Styling
    -Repeating Components (Shares classes with more than one section)
    -Header and Navigation
    -Intro
    -Info
    -Courses
    -Thesis
    -Footer
  -Media Queries (All media queries are located at the end of the document)

/*----------  Typefaces  -----------------*/

/*font-family: 'Merriweather', serif;
font-family: 'Lato', sans-serif;

Merriweather: 400, 400 italic, 700
Lato: 400, 900*/

/*----------  Color Palette --------------*/

/* Dark Navy: rgb(3, 20, 65)
  Light cool gray: rgb (236, 237, 240)
  Cool gray: rgb(194, 202, 223)

  Muted Teal: 45, 131, 136  
  Bright Teal: 64, 183, 190  

  Muted Red: 195, 65, 36  
  Bright Red: 226, 68, 32  

  Gold: 233, 196, 71  
  Bright Gold: 255, 216, 84 
  Very Light Gold: 253, 252, 249  
*/

/* -----------------------------------------
            Global Styling
----------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: rgb(3, 20, 65);
}

body {
  line-height: 1.5rem;
}

.mobile {
  display: none;
}

a:link {
  text-decoration: none;
}

/* -----------------------------------------
            General Typography
----------------------------------------- */
/*More specific styling can also be found in specific sections*/

h1{
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: capitalize;
}

h2 {
  font-family: Merriweather, serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-family: Merriweather, serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

h5{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05rem;
}

p{
  margin-bottom: .5rem;
}

/* -----------------------------------------
            Section Specific Styling
----------------------------------------- */

/*----------  Repeating Components -------*/

/*This section deals with parts that are repeated through the site.
Mainly flex containers, dimensions, margins, and paddings*/

section{
  background-color: rgb(251, 250, 242);
  width: 100%;
  padding: 2rem 1.5rem;
  display: flex;
} /* courses section set up in courses section styling */


.featured {
  width: 60%;
  height: auto;
  padding: .5rem 1.5rem .5rem 0;
}

.featured img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.intro {
  flex-flow: row wrap;
  justify-content: flex-start;
}

.info, .thesis {
  flex-flow: row wrap;
  justify-content: space-between;
}

.thesis h2, .courses h2 {
  width: 100%;
}
.list-container, .teaser-container {
  width: 40%;
  flex-flow: column nowrap;
  align-items:center;
  flex-grow: 1;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 30%;
}

.teaser-container {
  justify-content: flex-start;
  margin-top: -.5rem;
}

.teaser {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

div.teaser:hover {
  background: linear-gradient(0deg, rgba(253,252,249,1) 0%, rgba(237,237,240,1) 100%);
}

.teaser img {
  margin-right: 1rem;
}

.teaser-info h3, .teaser-info p {
  margin-bottom: .5rem;
}

.thumbnail.desktop {
  display: inline-block;
  width: 35%;
  height: auto;
  border-radius: 5px;
}

.teaser-info a:link{
  color: rgb(45, 131, 136);
  font-weight: 700;
}

.teaser-info a:visited{
   color: rgb(3, 20, 65);
}

.teaser-info a:hover{
   color: rgb(64, 183, 190);
}

.teaser-info a:active{
  color: rgb(226, 68, 32);
}


/*----------  Header & Navigation --------*/
header {
  width: 100%;
  height: 4rem;
  padding: 01.5rem 2rem;
  background-color: rgba(3, 20, 65, 0.8);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: fixed;
  border-bottom: 3px solid rgb(233, 196, 71); 
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.logo-container img {
  height: 3rem;
  width: auto;
}
.logotype {
  font-size: 2rem;
  font-family: Merriweather, serif;
  font-weight:700;
  text-transform: uppercase;
  color: rgb(233, 196, 71);
}

.academy{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgb(253, 252, 249);
}

nav.desktop {
  height: 67px;
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

}
nav a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding:.5rem;
  height: 100%;
  color: rgb(233, 196, 71);
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

nav a:nth-child(odd) {
  border-bottom: 3px solid rgb(45, 131, 136);
}

nav a:nth-child(odd):hover {
  border-bottom: 3px solid rgb(64, 183, 190);
  color: rgb(255, 216, 84);
  transition: all 400ms ease;
}

nav a:nth-child(even) {
  border-bottom: 3px solid rgb(195, 65, 36);
}

nav a:nth-child(even):hover {
  border-bottom: 3px solid rgb(226, 68, 32);
  color: rgb(255, 216, 84);
  transition: all 400ms ease;
}

/*----------  Intro Section --------------*/

.intro h1, .intro h5 {
  margin-bottom: 2rem;
}

.intro {
  background-image: url("../images/diamond_upholstery_light.png");
  padding-top: 6rem;
}

.button {
  width: 100%;
  background-color: rgb(3, 20, 65);
  color: rgb(233, 196, 71);
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-radius: 5px;
  padding: .5rem;
  text-align: center;
}

.button:hover {
  background-color: rgb(45, 131, 136);
  color: rgb(255, 216, 84);
  transition: all 700ms ease;
}

.button:active {
  background-color: rgb(64, 183, 190);
  color: rgb(253, 252, 249);
}

/*----------  Info Section ---------------*/

.info h2{
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 2rem 0;
  border-bottom: 3px solid rgb(233, 196, 71);
  margin-bottom: .5rem;
  text-align: left;
}

.author {
  font-style: italic;
}

p.quote::first-letter {
  font-size: 2rem;
  float: left;
}

/*----------  Courses Section ------------*/
section.courses {
  display: block;
  width: 100%;
  background-image: url("../images/diamond_upholstery.png");
}

section.courses h2{
  color: rgb(233, 196, 71);
}

.card-container {
  margin: 2rem auto .5rem auto;
  padding: 0 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 1 30%;
}

.course-card {
  max-width: 30%;
  min-height: 24rem;
  margin: 1rem 1rem 2rem 1rem;
  background-color: rgba(253,252,249,1);
  border-radius: 5px;
}

.course-card h5, .course-card p, .course-card h3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.course-card h3 {
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.course-card h5 {
  background: linear-gradient(0deg, rgba(253,252,249,1) 0%, rgba(237,237,240,1) 100%);
  border-top: 1px solid rgb(233, 196, 71); 
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.course-thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 1rem; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/*----------  Thesis Section -------------*/

video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.thesis h2 {
  margin-bottom: 2rem;
}

.featured h3 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

/*----------  Footer ---------------------*/
footer {
  width: 100%;
  height: 4rem;
  padding: 1rem 1.5rem;
  background-image: url("../images/diamond_upholstery.png");
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}

.copyright {
  color: rgb(194, 202, 223);
  font-size: .8rem;
  letter-spacing: .01rem;
}

.legal a {
  color: rgb(194, 202, 223);
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .02rem;
  padding-left: .5rem;
}

.legal a:hover {
  color: rgb(233, 196, 71);
  transition: color 400ms ease;
}


/* -----------------------------------------
            Media Queries
----------------------------------------- */

/* Makes featured images smaller and gives teaser containers more room. Also gives course cards a larger width, which forces two columns in course container*/
@media only screen and (max-width: 1120px) {
  .course-card {
    max-width: 45%;
  }
  
  .featured {
    max-width: 50%;
    padding-right: 0;
  }
  
  .cta {
     padding-left: 1rem;
  }
  .teaser-container, .list-container {
    max-width: 50%;
  } 
}

/*Adjusts larger fonts sizes. Logo text shrinks to accomodate navigation.*/
@media only screen and (max-width: 900px) {
  h1{
    font-size: 2rem;
    line-height: 2rem;
  }
  
  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  
.teaser-info  h3 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  
  .logotype{
    font-size: 1.5rem;
  }
}

/*Switches to one column layout. Some images switch to mobile versions or stop displaying if no mobile version is available.*/
@media only screen and (max-width: 800px){
  
  .info, .intro, .thesis {
    flex-flow: column nowrap;
    width: 100%;
  }
  
  .featured, .teaser-container, .list-container {
    min-width: 100%;
  }
  
  .featured {
    padding-bottom: 0;
  }
  
  .cta {
    padding-left: 0;
  }
  
  .intro h1{
    margin-top: 2rem;
  }
  
  .teaser {
    padding-left: 0;
  }
  
  .thumbnail.desktop {
    display: none;
  }
  .thumbnail.mobile {
    display: inline-block;
    max-height: 8rem;
    height: auto;
    border-radius: 5px;
  }
  
  .card-container {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .course-card{
    min-width: 100%;
    min-height: 5rem;
    padding-bottom: 1rem;
    margin: 1rem auto;
  }
  .course-thumbnail {
    display: none;
  }
  
  .course-card h3 {
    padding-top: 1rem;
  }
  
  .thesis .teaser {
    padding-left:0;
  }
}

/* Mobile navigation (icons) becomes visible, but logo type remains. */
@media only screen and (max-width: 740px) {
  nav.desktop, nav.desktop a {
    display: none;
  }
  
  nav.mobile {
    height: 67px;
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: flex-end;
  }
  
  nav.mobile a, nav.mobile a img {
    display: inline-block;
  }
  
  nav.mobile a{
    min-width: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  nav.mobile img {
    height: 2rem;
    width: auto;
    margin: auto;
  }
}

/* Transitioning to phone sizes: most padding and margins remain. Logo type disappears and leaves only mobile navigation and logo image. Teaser images move from side to top of information. Course descriptions disappear and teasers in thesis section disappear.*/
@media only screen and (max-width: 540px){
  
  header {
    margin: 0;
    padding: 0;
  }
  .logotype {
    display:none;
  }
  
  .logo-container {
    min-width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .logo-container img {
    height: 2rem;
    width: auto;
    display: inline-block;
    margin: 0 auto;
  }

  nav.mobile {
    width: 75%;
    padding: auto 1rem;
  }
  
  nav.mobile a {
    width: 33%;
  }
  
  .teaser-container {
    width: 100%;
  }
  .teaser {
    padding:1rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  .thumbnail.mobile {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 3px solid rgb(233, 196, 71);
  }
  
  .teaser-info {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  div.teaser:hover {
    background: rgb(251, 250, 242);
  }
  .teaser-info:hover{
    background: linear-gradient(0deg, rgba(253,252,249,1) 0%, rgba(237,237,240,1) 100%);
  }
  
  .thumbnail.mobile {
    width: 100%;
    height: auto;
    max-height: 14rem;
    padding:0;
    margin: 0;
  }
  
   .teaser-info {
    padding: 1rem;
  }
  
  .courses{
    padding:2rem 1rem;
  }
  .card-container {
    width: 100%;
    margin: 2rem 0 0 0;
    padding:0;
  }
  .course-card {
    width: 100%;
    padding: 0;
    min-height: 3rem;
    margin: 0 0 .5rem 0;
  }
  
  .course-card:hover {
    background-color: rgb(45, 131, 136);
    color: rgb(255, 216, 84);
    transition: all 700ms ease;
  }
  .course-card h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    margin:0;
  }
  .course-card h5, .course-card p {
    display:none;
  }
  
  .thesis .teaser {
    display: none;
  }
}

/*Fully mobile version matching mobile design specs. Teasers in thesis section are gone. Images and video in featured sections either disappear or have become full-width.*/
@media only screen and (max-width: 460px){
  
   .info .featured, .legal, .thesis h3, .thesis p {
    display:none;
  }
  
  section, .intro, .featured, .thesis {
    padding: 0;
    margin:0;
  }
  
  .thesis {
    margin: 2rem 0;
  }
  
  .featured img, video {
    border-radius: 0;
  }
  
  .intro h1 {
    margin-top: 0;
  }
  .cta {
    padding: 2rem 1rem;
  }
  
  .info, .courses {
    padding: 2rem 1rem;
  }
  
  .intro {
    padding-top: 4rem;
  }
  
}